language: python
python:
  - "2.7"
  - "3.2"
  - "3.3"
  - "3.4"
env:
  - DJANGO=1.4
  - DJANGO=1.5
  - DJANGO=1.6
install:
  - DJANGO_VER=$(./travis_django_version.py $DJANGO)
  - pip install $DJANGO_VER
  - pip install coveralls
  - pip install .
script:
  - django-admin.py --version
  - coverage run --source=email_html quicktest.py email_html
after_success:
  - coveralls
notifications:
  email:
    recipients:
      - ramusus@gmail.com
    on_success: change
    on_failure: change